@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}

menu {
    display: none;
}

article{
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impreso através do site www.cursoemvideo.com';
}